!!! Strict
%html
  %head
    %title
      = [@title, "Padrino Sample Blog"].compact.join(" | ")

    = stylesheet_link_tag 'normalize', 'bootstrap', 'bootstrap-theme', 'application'
    = javascript_include_tag 'lib/jquery-3.2.1','lib/jquery-ujs','lib/bootstrap', 'lib/timeago','lib/underscore', 'lib/backbone', 'models/urlMapping', 'collections/urlMappings','views/appView','views/urlMappingView','routers/router', 'application'
    = yield_content :include
    %body
      #header.container
        .left-space.col-lg-2.col-sm-2.hidden-xs.hidden-sm.hidden-md
        .content-area.col-md-12.col-lg-8.col-sm-12.col-xs-12
          .website-name
            .website-title.col-md-7.col-lg-7.col-sm-12.col-xs-12.xs-center.sm-center Shooooort
            .website-tagline.col-md-5.col-lg-5.col-sm-12.col-xs-12.text-right.xs-center.sm-center The link shortner with a long name
        .right-space.col-lg-2.col-sm-2.hidden-xs.hidden-sm.hidden-md
      #container.container
        .left-space.hidden-md.col-lg-2.col-sm-2.hidden-xs.hidden-sm
        .content-area.col-md-12.col-lg-8.col-sm-12.col-xs-12
          #main= yield
        .right-space.hidden-md.col-lg-2.col-sm-2.hidden-xs.hidden-sm
